$azul : blue;
$linkNavbarHover : rgb(15, 108, 196);
$verde: green;
$rosa: pink;
$roxo: purple;
$amarelo: yellow;
$preto: black;
$branco: white;
$laranja: orange;
$vermelhor: red;
$marrom: brown;
$cinza: gray;
$azulClaro: lightBlue;
$verdeClaro: lightGreen;
$conteudo: rgb(29, 27, 27);
$linkNavbar: rgb(45, 150, 236);
$navbar: rgb(24, 22, 22);
$buttonToggle: rgb(37, 34, 34);
$facebook: rgb(59, 89, 152);
$instagram: rgb(81, 127, 164); 
$whatsapp: rgb(52, 175, 35);
$googleplus: rgb(221, 75, 57);

$prefix : l2;

/*  -----------  Area Cores-------------*/

